{% extends "base.html" %}

{%- block content %}
  <h1>Reset Your Password</h1>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
      <div>{{ form.password.label }}</div>
      <div>{{ form.password(size=32) }}</div>
      {%- for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
      {%- endfor %}
    </div>
    <div>
      <div>{{ form.password2.label }}</div>
      <div>{{ form.password2(size=32) }}</div>
      {%- for error in form.password2.errors %}
      <span style="color: red;">{{ error }}</span>
      {%- endfor %}
    </div>
    <div>
      {{ form.submit() }}
    </div>
  </form>
{%- endblock %}
